@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
:root {
  --primary-white: #ffffff;
  --primary-orange: #CD8B7C;
  --primary-green: #4AB834;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #f04019;
  --primary-hover-red: #bf2402;
}

body {
  font-family: 'Share Tech Mono', monospace;
}

/**********NAVBAR*******/

nav {
  z-index: 2;
}

.logo {
  width: 16.25rem;
  height: auto;
}

/********LINKS**********/

.nav a.nav-link {
  font-weight: 100;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav>li>a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-orange) !important;
  border-bottom: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4rem !important;
}

@media(max-width: 767px) {
  .navbar-brand {
    max-width: 5rem;
  }
}

.navbar-nav>li>a.active, .navbar-nav>li>a.active:focus {
  border-bottom: 0.1875rem solid var(--primary-green);
}

.navbar-nav>li>a:hover {
  border-bottom: 0.1875rem solid var(--primary-green);
  transition: transform 250ms;
  transform: translateY(0.3rem);
}

/**********HEADER*******/

.header-wraper {
  position: relative;
  background: url(background3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: #64f547;
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
}

/********Typed**********/

.typed-text {
  padding-top: 1rem;
  font-family: 'Share Tech Mono', monospace;
  font-size: 3rem;
  color: #ffffff;
}

@media(max-width: 767px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/********HEADER MAIN OFFER BUTTON**********/

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0.125rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  text-decoration: none;
  margin: 2rem;
}

.btn-main-offer:hover {
  background-color: var(--primary-red);
  color: var(--primary-white);
  text-decoration: none;
  margin: 2rem;
}

/*************Particles************/

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 767px) {
  .particles-canvas {
    display: none;
  }
}